body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffdf8c;
    & a {
        text-decoration: none;
    }
    & button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    & button:focus {
        outline: none;
    }
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@import "fonts.scss";

.wrapper {
    width: calc(100vw - 100px);
    height: 100%;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 1400px;
}
.header-top {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-areas: "title basket";
    align-items: center;
    justify-content: center;
    padding: 52px 38px 78px 77px;
    &__title {
        cursor: pointer;
        display: flex;
        .title-logo {
            width: 38px;
            height: 38px;
            padding-top: 5px;
        }
        .title-text {
            margin-left: 17px;
            display: flex;
            flex-direction: column;
            font-family: "Proxima Nova";
            .text-top {
                font-size: 24px;
                font-weight: 800;
                line-height: 29px;
                letter-spacing: 0.01em;
                text-align: left;
                color: #181818;
                max-width: 154px;
            }
            .text-bot {
                color: #7b7b7b;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                max-width: 261px;
            }
        }
    }

    &__basket {
        width: 150px;
        height: 50px;
        background-color: #fe5f1e;
        border-radius: 30px;
        border: 1px solid #fe5f1e;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        font-family: "Proxima Nova";
        font-weight: 700;
        line-height: 19.49px;
        cursor: pointer;
        .basket-total {
            margin-left: 20px;
            position: relative;
            display: flex;
            line-height: 20px;
            .cart-svg {
                margin-left: 5px;
            }
            &::before {
                position: absolute;
                content: "";
                display: block;
                height: 10px;
                width: 2px;
                top: 4px;
                left: -13px;
                background-color: white;
            }
        }
    }
}
.main-nav {
    display: grid;
    grid-template-columns: 6fr 2fr;
    padding-bottom: 32px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        cursor: pointer;
        justify-self: center;
        background-color: #f9f9f9;
        border-radius: 30px;
        height: 46px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: 0.015em;
        text-align: center;
        &:nth-child(1) {
            width: 82px;
        }
        &:nth-child(2) {
            width: 132px;
        }
        &:nth-child(3) {
            width: 195px;
        }
        &:nth-child(4) {
            width: 107px;
        }
        &:nth-child(5) {
            width: 120px;
        }
        &:nth-child(6) {
            width: 145px;
        }
    }
}
.choice-active {
    background-color: black;
    color: white;
}
.main-sort {
    display: flex;
    justify-content: center;
    align-items: center;

    .sort-text {
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0.015em;
        text-align: left;
    }
    .sort-choice {
        position: relative;

        .choice {
            cursor: pointer;
            padding-left: 8px;
            color: #fe5f1e;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            height: 21px;
            display: inline-block;
            padding-bottom: 3px;
            letter-spacing: 0.015em;
            text-align: left;
        }
        .sort-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            width: 132px;
            height: 136px;

            background: #ffffff;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
            border-radius: 10px;
            .sort-item {
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 400;
                line-height: 38px;
                height: 38px;
                letter-spacing: 0.015em;
                color: #000000;
                cursor: pointer;
                padding-left: 10px;
                transition: 0.5s;
                &:hover {
                    background: #fe5f1e0d;
                }
            }

            .sort-active {
                background: #fe5f1e0d;
                color: #fe5f1e;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 700;
                line-height: 38px;
                letter-spacing: 0.015em;
                text-align: left;
            }
        }
    }
}
h1 {
    font-family: "Proxima Nova";
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 67px;
    margin-bottom: 35px;
}
.pizza-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 67px 67px 87px;
    row-gap: 50px;
    column-gap: 35px;
    justify-content: flex-start;

    .pizza-menu__item {
        width: 280px;

        .pizza {
            width: 260px;
            height: 260px;
            padding: 0px 5px 0px 16px;
        }
        h2.item-title {
            font-family: "Proxima Nova";
            font-size: 20px;
            font-weight: 800;
            line-height: 24px;
            letter-spacing: 0.01em;
            text-align: center;
            margin-bottom: 22px;
        }
        .item-choice {
            width: 280px;
            height: 85px;
            background-color: #f3f3f3;
            margin-bottom: 17px;
            .dough-choice {
                display: flex;
                margin-bottom: 7px;
                padding-top: 7px;

                .dough {
                    background-color: white;
                    width: 132px;
                    height: 32px;
                    font-family: "Proxima Nova";
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0.015em;
                    text-align: center;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                    border-radius: 5px;
                    margin-left: 5.73px;
                    cursor: pointer;
                    background-color: #f3f3f3;
                    background: rgba(255, 255, 255, 0.3);
                    &.active {
                        background-color: white;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                    }
                    &.disabled {
                        opacity: 0.4;
                        pointer-events: none;
                    }
                }
            }
            .size-choice {
                display: flex;
                &:nth-child(1) {
                    margin-left: 5.73px;

                    border-radius: 5px;
                }
                .size {
                    width: 86px;
                    height: 32px;
                    font-family: "Proxima Nova";
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0.015em;
                    text-align: center;
                    padding-right: 5.73px;
                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 5px;
                    cursor: pointer;
                    margin-left: 5px;
                    &.active {
                        background-color: white;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                    }
                    &.disabled {
                        opacity: 0.4;
                        pointer-events: none;
                    }
                }
            }
        }
        .item-bottom {
            display: flex;
            justify-content: space-around;
            .item-price {
                font-family: "Proxima Nova";
                font-size: 22px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0.015em;
                text-align: left;
            }
            .item-add {
                max-width: 150px;
                height: 40px;
                border: 1px solid #eb5a1e;
                background-color: white;
                border-radius: 30px;
                font-family: "Proxima Nova";
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: center;
                color: #eb5a1e;
                display: block;
                cursor: pointer;
                padding: 10px;
                margin: 0px;
                &:hover {
                    background-color: #eb5a1e;
                    color: white;
                }
                &:hover > span {
                    color: #eb5a1e;
                    background-color: white;
                }
                & span {
                    display: inline-block;
                    margin-left: 5px;
                    width: 20px;
                    height: 19px;
                    border-radius: 50%;
                    background-color: #eb5a1e;
                    color: white;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                }
            }
        }
    }
}
.basket-container {
    width: 100%;
    max-width: 820px;

    margin: 0 auto;
}
.basket-content {
    padding-top: 20px;
    .basket-container {
        .basket-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            padding: 0px 10px;
            .basket-top_left,
            .basket-top_right {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .left-text {
                font-family: "Proxima Nova";
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                letter-spacing: 0.01em;
                text-align: left;
                margin-left: 17px;
            }
            .right-text {
                font-family: "Proxima Nova";
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #b6b6b6;
                margin-left: 8px;
                cursor: pointer;
            }
            .right-logo {
                cursor: pointer;
            }
        }
        .basket-main {
            display: flex;
            flex-direction: column;
            padding: 50px 10px 0px 10px;

            .basket-main_item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 60px;

                .main_item_left {
                    display: flex;
                    align-items: center;
                    width: 370px;

                    .main_item_text {
                        margin-left: 15px;
                    }
                    .main_item_text_top {
                        font-family: "Proxima Nova";
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 27px;
                        letter-spacing: 0.01em;
                        text-align: left;
                    }
                    .main_item_text_bot {
                        font-family: "Proxima Nova";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0.01em;
                        text-align: left;
                        color: #8d8d8d;
                    }
                }
                .main_item_count {
                    display: flex;
                    align-items: center;
                    .minus,
                    .count {
                        margin-right: 15px;
                    }
                    .minus,
                    .plus {
                        cursor: pointer;
                    }
                    .count {
                        font-family: "Proxima Nova";
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 27px;
                        letter-spacing: 0.01em;
                        text-align: left;
                    }
                }
                .main_item_price {
                    font-family: "Proxima Nova";
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    text-align: left;
                }
                .main_item_delete {
                    cursor: pointer;
                }
            }
        }
        .basket-total-amount {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            padding: 0px 10px;

            .basket-total-amount_count,
            .basket-total-amount_price {
                display: flex;
                .count-number,
                .total-price_amount {
                    font-family: "Proxima Nova";
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    text-align: left;
                }
                .total-price_amount {
                    color: #fe5f1e;
                }
                .count-text,
                .total-price_text {
                    font-family: "Proxima Nova";
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0.01em;
                    text-align: left;
                    margin-right: 5px;
                }
            }
        }
        .basket-confirm {
            display: flex;
            justify-content: space-between;
            padding: 0px 10px 130px 10px;
            .back {
                width: 211px;
                height: 55px;
                background: #ffffff;
                border: 1px solid #d3d3d3;
                border-radius: 30px;
                cursor: pointer;
                .back-content {
                    display: flex;
                    justify-content: center;
                    .back-text {
                        font-family: "Proxima Nova";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #cacaca;
                    }
                    .back-logo {
                        margin-right: 15px;
                    }
                }
            }
            .pay-button {
                width: 211px;
                height: 55px;
                background: #fe5f1e;
                border-radius: 30px;
                border: none;
                cursor: pointer;
                .pay-text {
                    font-family: "Proxima Nova";
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: white;
                }
            }
        }
    }
}
.empty-basket-msg {
    & a {
        display: block;
        margin: 0 auto;
    }
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_title {
        font-family: "Proxima Nova";
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0.01em;
        text-align: center;
        margin-bottom: 10px;
    }
    &_text {
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #777777;
        margin-bottom: 47px;
    }
    &_img {
        margin: 0 auto;
        margin-bottom: 74px;
        & img {
            width: 300px;
            height: 255px;
        }
    }
    &_btn {
        background: #282828;
        border-radius: 30px;
        width: 210px;
        height: 46px;
        color: #fff;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.015em;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 163px;
        cursor: pointer;
    }
}
.popup-button {
    cursor: pointer;
    justify-self: center;
    background-color: #f9f9f9;
    border-radius: 30px;
    height: 46px;
    width: 150px;
    align-items: center;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.015em;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
    border: 1px solid black;
    color: black;
}
button {
    .popup-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
.popup-filter {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    width: 150px;
    height: 250px;
    top: 50px;
    left: 0px;
    background: #ffffff;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 0px 0px 0px 10px;
    -webkit-transition: bottom, opacity, ease-out 0.2s;
    -moz-transition: bottom, opacity, ease-out 0.2s;
    -o-transition: bottom, opacity, ease-out 0.2s;
    transition: bottom, opacity, ease-out 0.2s;

    .filter-item {
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        line-height: 38px;
        height: 38px;
        letter-spacing: 0.015em;
        color: #000000;
        cursor: pointer;
        padding-left: 10px;
        transition: 0.5s;
        &:hover {
            background: #fe5f1e0d;
        }
    }
    .filter-active {
        background: #fe5f1e0d;
        color: #fe5f1e;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0.015em;
        text-align: left;
    }
}
.uparrow {
   
    position:fixed;
    right:5%;
    bottom: 5%; 
    & img {
        width:50px;
        height: 50px;
    }
    display:block;
    & .show {
        display:block;
    }
}

@media (max-width: 1480px) {
    .pizza-menu {
        justify-content: center;
        padding: 0px 67px 67px 67px;
    }
}
@media (max-width: 1280px) {
    .main-sort {
        padding-right: 20px;
        flex-direction: column;
        .sort-choice {
            .sort-list {
                left: -10px;
            }
        }
    }
    .main-nav {
        grid-template-columns: 7fr 1fr;
    }
}
@media (max-width: 1120px) {
    .nav-list {
        max-width: 450px;
        margin-left: 100px;
    }
    .main-nav {
        grid-template-columns: 6fr 2fr;
        justify-content: center;
    }
}
@media (max-width: 940px) {
    .basket-content {
        padding: 20px 20px 0px 20px;
    }
    .header-top {
        padding: 52px 38px 72px 38px;
    }
}
@media (max-width: 880px) {
    .main-nav {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 0px;
        .nav-list {
            margin: 0 auto;
        }
        .main-sort {
            flex-direction: row;
        }
    }
}
@media (max-width: 768px) {
    .wrapper {
        width: calc(100vw - 20px);
        .pizza-menu {
            padding: 0px 87px 67px 87px;
        }

        margin: 10px auto;
        .main-logo {
            text-align: center;
            margin: 0px;
            margin-bottom: 50px;
        }
    }
}
@media (max-width: 690px) {
    .basket-main_item {
        flex-direction: column;
        row-gap: 20px;
        position: relative;
        .main_item_delete {
            position: absolute;
            margin-left: 450px;
            margin-top: 20px;
        }
    }
}

@media (max-width: 590px) {
    .wrapper {
        margin: 30px auto;
    }
    .header-top {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding-left: 38px;
        padding-bottom: 50px;
        justify-content: center;
    }
    .popup-button {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .categories {
        margin: 0 auto;
        position: relative;
    }

    .main-logo {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .main-nav {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: 30px;
        .main-sort {
            margin-top: 4px;
            padding: 0px;

            flex-direction: column;
        }
    }
    .basket-content {
        padding-top: 0px;
    }
}
@media (max-width: 510px) {
    .basket-total-amount {
        flex-direction: column;
    }
    .basket-content {
        .basket-container {
            .basket-confirm {
                flex-direction: column;

                align-items: center;
                row-gap: 20px;
            }
        }
    }
    .basket-content .basket-container .basket-main .basket-main_item .main_item_left {
        width: 340px;
    }
    .basket-main_item .main_item_delete {
        margin-left: 330px;
        margin-top: 20px;
    }
}
@media (max-width:430px) {
    .uparrow {
        right:1%;
        & img {
            width:25px;
            height: 25px;
        }
    }
}
@media (max-width: 418px) {
    .header-top {
        justify-content: center;
        &__title {
            padding-left: 30px;
        }
    }
    
    .basket-top {
        flex-direction: column;
        row-gap: 20px;
    }
    .basket-content .basket-container .basket-main .basket-main_item .main_item_left {
        width: 250px;
    }
    .basket-main_item .main_item_delete {
        margin-left: 300px;
        margin-top: 20px;
    }
}
@media (max-width: 378px) {
    .header-top__title {
        padding-left: 10px;
    }
}
@media (max-width: 358px) {
    .basket-main_item .main_item_delete {
        margin-left: 250px;
        margin-top: 20px;
    }
    .main-nav {
        padding: 0px 10px;
    }
}
